.header {
	width: 100%;
	margin-top: 25px;
	margin-bottom: 6%; // 8%
}

.logo {
	display: block;
	max-width: 160px;
	margin: 0 auto;
	width: 100%;
	text-align: center;

	@media (max-width: 480px) {
		width: 80%;
		height: auto;
	}
}
